# Ignorar todo en /es/ excepto src/
es/*
!es/src/

# Archivos generados por Maven
*.jar
*.war
*.ear
pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Carpetas de configuración de IDEs
.es/
.settings/
.classpath
.project

# Ignorar archivos de Maven Wrapper
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
